*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  margin-left: 20px;
  margin-right: 20px;
}

.title {
  text-align: center;
  margin-top: 30px;
  margin-bottom: 20px;
}

input[type=text],
input[type=number],
input[type=date]
{
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

#addExpense {
    cursor: pointer;
    width: 100%;
    outline: 0;
    color: #fff;
    background-color: #4b6af3;
    display: inline-block;
    margin-top: 10px;
    font-weight: 400;
    line-height: 1.5;
    text-align: center;
    border: 1px solid transparent;
    padding: 6px 12px;
    font-size: 16px;
    border-radius: .25rem;
  }
  #addExpense:hover {
    color: #fff;
    background-color: #0b9d34;
  }

.sorting-buttons{
    width: 80%;
    justify-content: center;
    margin-left: 150px;
    margin-bottom: 20px;
    height: 40px;
  cursor: pointer;
  display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap: 10px;
  margin-top: 20px;
  font-weight: 400;
  text-align: center;
  font-size: 16px;

}
.sorting-buttons > button{
  background-color: #c8c9ca;
  border: 1px solid transparent;
    border-radius: .25rem;

}
span{
    width: 170%;
    text-align: right;
}
strong{
    text-align: left;
    margin-left: 5px;
}


#expenses{
    width: 100%;
    display: grid;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 20px;
}
#expenses > div {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    align-items: center;
    gap: 10px;
    font-weight: 400;
    margin-top: 8px;
    margin-bottom: 8px;
    font-size: 16px;

}

.delete-button{
    cursor: pointer;
    width: 20%;
    margin-right: 10px;
    height: 35px;
    color: #fff;
    background-color: hsl(11, 94%, 65%);
    font-weight: 400;
    line-height: 1.5;
    border: 1px solid transparent;  
    font-size: 16px;
    padding-right: 12px;
    padding-left: 12px;
    border-radius: .25rem;
    margin-left: 10px;
    justify-self: end;
    }

.delete-button:hover {
    color: #fff;
    background-color: hsl(330, 74%, 48%);
    border-color: hsl(330, 74%, 48%);
}
